.wrapper__weather {
    background: url(../../img/weather.jpg) 0 0/cover no-repeat;
    height: 38rem;
}

.weather {
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

.weather__body {
    width: 19rem;
    height: 25rem;
    background-color: rgb(124 229 255 / 30%);
    border-radius: 15%;
    border: 0.2rem solid black;
    font-size: 2rem;
    padding-left: 0.9rem;
}

.weater__icon img {
    width: 4.7rem;
}

.weater__icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.weather__temp {}

.weather__anotation {}

.weather__city {
    font-size: 3.5rem;
}

.weather__tempFells {
    font-size: 1.5rem;
    color: gray;
    padding-top: 1rem;
}

.weather__header {
    display: flex;
    flex-direction: row;
}

.weather__button {
    background-color: aqua;
    border-radius: 0.8rem;
    margin: 2rem 0 0 4.3rem;
    text-align: center;
    width: 8rem;
    border: 0.2rem solid black;
    box-shadow: 0.2rem 0.2rem 0.2rem black;
    cursor: pointer;
}

.weather__button:hover {
    box-shadow: 0.1rem 0.1rem 0.1rem black;
}

.weather__input {
    padding: 0.2rem;
    font-size: 1rem;
}