.wrapper__maze {
    height: 600px;
    margin: 0 auto;
}

.end__game {
    background: url('../../img/lose.jpg') 0 0/100% 100% no-repeat;
}

.win__game {
    background: url('../../img/win.jpg') 0 0/100% 100% no-repeat;
}

.maze {
    margin: 0 auto;
}

.maze__measure {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 600;
}

.maze__confirm {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    cursor: pointer;
}

.field {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
}

.cell {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.avatar {
    background: url(../../img/courier.png);
    border-radius: 30%;
    background-size: cover;
}

.exit {
    background: url(../../img/rapier.jpg);
    border-radius: 30%;
    background-size: cover;
}

.wall {
    background: url(../../img/wall.jpg);
    border-radius: 10%;
    background-size: cover;
}