.wrapper__calc {
    height: 600px;
}

.calc__main {
    margin: 70px auto;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    background-color: black;
    color: #fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 16px;
    box-shadow: 5px 5px 5px gray;
}

.calc__screen {
    height: 130px;
    padding: 10px;
    display: flex;
    text-align: right;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.calc__screen p {
    font-size: 4rem;
    margin: 0;
}

.calc__buttons {
    display: grid;
    grid-template-areas: "ac plus-minus percent division" "seven eight nine multiply" "four five six minus" "one two three plus" "zero zero dot equal";
    grid-gap: 7px;
    justify-items: center;
}

.calc__button {
    width: 60px;
    height: 60px;
    background: #333;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
}

.zero {
    grid-area: zero;
    width: 100%;
    border-radius: 35px;
}

.calc__button:hover {
    filter: brightness(130%);
}

.calc__button:active {
    filter: brightness(80%);
}

.bg-gray {
    background: #a6a6a6;
}

.bg-orange {
    background: rgb(216, 140, 0);
}

.hidden {
    display: none;
}